body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2e2e1;
    margin: 0;
    padding: 0;
    color: #221e1f;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2755a2;
    color: #e2e2e1;
}

.header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header .username {
    cursor: pointer;
}

.main-content {
    padding: 20px;
}

h1 {
    color: #221e1f;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #2755a2;
}

.profile-info {
    margin-left: 20px;
}

.profile-info p {
    margin: 10px 0;
}

.change-password-button {
    padding: 10px 20px;
    background-color: #2755a2;
    color: #e2e2e1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.change-password-button:hover {
    background-color: #3b4049;
}

.chat-support {
    margin-top: 40px;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.chat-item {
    padding: 15px;
    background-color: #e2e2e1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.chat-item:hover {
    background-color: #f0f0f0;
}

.back-button {
    padding: 10px 20px;
    background-color: #2755a2;
    color: #e2e2e1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #3b4049;
}

/* Navbar */
.navbar {
    background-color:#2755a2;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #e2e2e1;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #221e1f;
}
