<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispositivo Encontrado</title>
    <link rel="stylesheet" href="/static/css/soporteyconfig.css">
    <link rel="stylesheet" href="/static/css/credenciales.css">
</head>
<body>
    <header class="header">
        <div class="logo">Inovate</div>
        <div class="username">Username</div>
    </header>

    <div class="main-content">
        <h1>Dispositivo Encontrado</h1>
        <h2>Nombre: <span id="device-name">Mi Dispositivo IoT</span></h2>
        <div class="device-image-container">
            <img src="/static/images/device.jpg" alt="Imagen del Dispositivo" class="device-image">
        </div>
        <div class="wifi-credentials">
            <h2>Selecciona tu Red WiFi</h2>
            <select id="wifi-networks"></select>
            <input type="password" id="wifi-password" placeholder="Contraseña de WiFi">
            <button id="connect-button" class="connect-button">Conectar</button>
        </div>
    </div>

    <script src="/static/js/credenciales.js"></script>
</body>
</html>
