<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Iot</title>
    <link rel="stylesheet" href="/static/css/inicio.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header">
        <h2>Itnovate</h2>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="insta.html">Servicios</a></li>
                <li><a href="#footer-redirect">Contacto</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </div>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="container">
                    <div class="text-container">
                        <h1>Itnovate</h1>
                        <p>Controla todos tus dispositivos desde cualquier lugar.</p>
                        <button onclick="window.location.href='register.html'">Subscribirse</button>
                    </div>
                    <div class="main-image-container">
                        <img src="/static/img/background.png" alt="Imagen de Inicio" class="main-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="text-container">
            <h1>Itnovate</h1>
            <p>Es una empresa pionera en el desarrollo de tecnologías IoT, dedicada a crear productos de vanguardia que satisfacen las diversas necesidades de nuestros clientes. Ofrecemos soluciones integrales que permiten controlar, automatizar y capturar datos y movimientos críticos, optimizando la gestión de cualquier entorno. Nos enfocamos en proporcionar herramientas eficientes y efectivas para transformar y mejorar la vida cotidiana en hogares y empresas.</p>
        </div>
        <div class="image-container">
            <img src="/static/img/1.png" alt="Imagen Sección 1" class="main-image">
        </div>
    </div>
    <div class="section">
        <div class="text-container">
            <h1>Soluciones para el Control y Automatización</h1>
            <p>En Itnovate, entendemos la importancia de tener un control completo sobre tu entorno. Por ello, nuestros productos están diseñados para proporcionar una experiencia de usuario óptima, facilitando la automatización y el monitoreo de diferentes aspectos de tu hogar o empresa. Ya sea que necesites gestionar sistemas de iluminación, seguridad, climatización o cualquier otro sistema, nuestras soluciones te permiten hacerlo de manera sencilla y eficiente.</p>
        </div>
        <div class="image-container">
            <img src="/static/img/2.png" alt="Imagen Sección 2" class="main-image">
        </div>
    </div>
    <div class="section">
        <div class="text-container">
            <h1>Calidad en Hardware y Software</h1>
            <p>Nuestro compromiso con la excelencia nos lleva a utilizar los mejores componentes de hardware y software disponibles en el mercado. Contamos con un equipo de desarrollo altamente capacitado que trabaja incansablemente para asegurar que cada producto de Inovate cumpla con los más altos estándares de calidad y rendimiento. Esta dedicación nos permite ofrecerte soluciones confiables y duraderas que realmente hacen una diferencia.</p>
        </div>
        <div class="image-container">
            <img src="/static/img/3.png" alt="Imagen Sección 3" class="main-image">
        </div>
    </div>
    <div class="section">
        <div class="text-container">
            <h1>Nosotros</h1>
            <p>Aunque somos una empresa en crecimiento, nuestra visión y dedicación nos posicionan como líderes en el sector de tecnologías IoT. Estamos ubicados en San Juan, Argentina, un lugar estratégico que nos permite atender a clientes tanto a nivel local como internacional. En Inovate, creemos en el potencial de la tecnología para transformar vidas y estamos comprometidos a brindar lo mejor para tu empresa u hogar.</p>
        </div>
        <div class="image-container">
            <img src="/static/img/4.png" alt="Imagen Sección 4" class="main-image">
        </div>
    </div>
    <footer id="footer-redirect">
        <div class="contact-info">
            <h3>Contacto</h3>
            <p><img src="/static/img/inconcall.png" class="iconos">Telefono: +54 123 456 789</p>
            <p><img src="/static/img/inconinsta.png" class="iconos">Instagram: @itnovatesj</p>
            <p><img src="/static/img/inconmsg.png" class="iconos">Correo: contacto@itnovate.com</p>
            <p><img src="/static/img/inconubi.png" class="iconos">Ubicación: Salta y 9 de julio</p>
        </div>
    </footer>
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/nav.js"></script>
</body>
</html>
