<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario - Itnovate</title>
    <link rel="stylesheet" href="/static/css/perfil.css">
    <link rel="stylesheet" href="/static/css/chatsoporte.css">
</head>
<body>
    <div class="header">
        <div class="logo">Itnovate</div>
        <div class="username" onclick="goToProfile()"><span id="username"></span></div>
    </div>

    <div class="main-content">
        <h1>Perfil</h1>
        <div class="profile-container">
            <div class="profile-pic">
                <img src="/static/img/perfilm.jpeg" alt="Foto de Perfil">
            </div>
            <div class="profile-info">
                <p><strong>Correo:</strong> <span id="user-email"></span></p>
                <p><strong>Usuario:</strong> <span id="user-name"></span></p>
                <p><strong>Tel:</strong> <span id="user-phone"></span></p>
                <button class="change-password-button" onclick="changePassword()">Cambiar Contraseña</button>
            </div>
        </div>
        <div class="chat-support">
            <h2>Chat de Soporte Registrado</h2>
            <ul class="chat-list" id="chat-list">
                <!-- Lista de chats abiertos -->
            </ul>
        </div>
        <button class="back-button" onclick="goBack()">Volver Atrás</button>
    </div>

    <div class="navbar">
        <a href="usuario.html">Inicio</a>
        <a href="insta.html">Tutoriales y productos</a>
        <a href="settings.html">Settings</a>-
        <a href="#" id="support-link">Soporte</a>
    </div>

    <!-- Contenedor del chat de soporte -->
    <div id="chat-container" class="chat-container hidden">
        <div class="chat-header">
            <span>Soporte</span>
            <button id="minimize-chat" class="chat-button">_</button>
            <button id="close-chat" class="chat-button">X</button>
        </div>
        <div id="chat-box" class="chat-box"></div>
        <input type="text" id="chat-input" class="chat-input" placeholder="Escribe un mensaje...">
        <button id="send-button" class="send-button">Enviar</button>
    </div>

    <script src="/static/js/soporte.js"></script>
    <script src="/static/js/perfil.js"></script>
</body>
</html>
