<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Dispositivo</title>
    <link rel="stylesheet" href="/static/css/registerdevice.css">
</head>
<body>
    <div class="container">
        <div class="loading-container">
            <div class="loading-animation"></div>
            <p class="loading-text">Conectacte manualmente a la red ItnovatePro<br> Password: Itnovate123</p>
        </div>
    </div>
    <div class="container-2">
        <button class="back-button" onclick="goBack()">Volver Atrás</button>
    </div>
    <script src="/static/js/registerdevice.js"></script>
</body>
</html>
